<label> Service Name</label>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">

<button  class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> add server </button>

<p> {{ serverCreationStatus }}</p>

<!-- ngif directive -->
<p *ngIf="serverCreated; else noServer"> {{ serverCreationStatus}} </p>
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>




<!-- <input type="text" class="form-control" [(ngModel)]="serverName"> -->
<p> {{ serverName }}</p>


<app-server *ngFor="let server of servers" ></app-server>
<!-- <app-server></app-server> -->

<!-- <p> string interpolation {{ allowNewServerm }}</p>

<p [innerText]="allowNewServer"></p> -->

